*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(255, 255, 255, .4);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0, 0, 0, .2);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    border: none;
}

body {

    background-color: hsl(228, 7%, 14%);
    position: relative;
}

label {
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 1.4em 0.4em;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

#active {
    border-bottom: 3px solid #cae962;
    padding-bottom: 6px;
    color: #fff;
}

.body-hidden {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.btn-prev,
.btn-next {
    position: absolute;
    background-color: #2a2b31;
    border-radius: 5px;
    z-index: 1;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.btn-prev {
    bottom: 2em;
    right: 1em;

}

.btn-next {
    bottom: 5em;
    right: 1em;

}


.btn-prev:hover,
.btn-next:hover {
    background-color: #cae962;
    color: #000;
}



.swiper-pagination {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 1em;
    top: auto;
    right: 10px;
    width: auto !important;
    left: auto !important;
    margin: 0;
    transform: translateY(-20%);

}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 3px;
    display: inline-block;
    border-radius: 100%;
    opacity: 1;
    background: #fff;
    vertical-align: middle;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ffc107;
    margin: 0;
}

.btn-nextTwo,
.btn-prevTwo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48%;
    top: 0;
    left: 0;
    right: 0;
    background: #2a2b31;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
    color: #fff;
}

.btn-nextTwo:hover,
.btn-prevTwo:hover {
    background-color: #cae962;
    color: #111;
}

.btn-prevTwo {
    bottom: 0;
    top: auto;

}

.swiper-scrollbar {
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%);
    width: 100px !important;
    bottom: 1em !important;
    height: 5px;
    background-color: rgba(255, 255, 255, .1);
    z-index: 50;

}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px;
    left: 0;
    top: 0;
}


@media screen and (max-width: 575px) {

    .btn-prev,
    .btn-next {
        display: none;
    }

    .swiper-pagination {
        display: flex;
    }
}

/* spinner */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}