*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(255, 255, 255, .4);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0, 0, 0, .2);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    border: none;
}

body {
    background-color: #202125;
}